@charset "UTF-8";
body {
  background-color: whitesmoke;
  word-wrap: break-word;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

header {
  width: 100%;
  display: inline-block;
  background-color: #8ea69b;
  top: 0;
  padding-bottom: 3%;
  vertical-align: middle;
  position: fixed;
  z-index: 1000;
}

#banner {
  margin: 0 auto;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding-top: 2%;
}

#mode {
  padding-left: 10px;
  float: left;
}

#screenModeImg {
  padding-top: 3px;
  height: 15px;
}

#buttonNavigation {
  -ms-flex-line-pack: center;
      align-content: center;
  vertical-align: middle;
}

button {
  background-color: #8ea69b;
  padding-left: 1%;
  padding-right: 1%;
  border: none;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
  color: white;
}

#homeImg {
  width: 10%;
  background-color: yellow;
}

#homeImg:hover {
  background-color: salmon;
}

li {
  list-style: none;
}

li::before {
  content: "•";
  padding-right: 10px;
  color: #8ea69b;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

section {
  color: black;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 2%;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

section #Title {
  font-size: 1.3em;
}

section #Category {
  text-align: center;
  font-size: 30px;
  letter-spacing: 5px;
  font-family: "Sofia", sans-serif;
  cursor: default;
}

section #SubCategory {
  text-align: center;
  font-size: 25px;
  -webkit-text-decoration: underline dotted 3px #8ea69b;
          text-decoration: underline dotted 3px #8ea69b;
  font-style: oblique;
}

section.opaque {
  background-color: red;
  opacity: 0;
}

#aboutSection {
  text-align: left;
}

#aboutSection #profileImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
  height: 315px;
  border-radius: 25%;
  padding-top: 2%;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

#aboutSection #profileImg:hover {
  content: url("../img/riccarde_smile_tr.png");
}

#aboutSection #description {
  width: 65%;
  margin: auto;
}

#aboutSection #description #name {
  font-size: 28px;
  padding-left: 10px;
}

#aboutSection #description #function {
  float: right;
  font-size: 20px;
  padding-right: 10px;
}

#aboutSection #description #corps {
  padding-left: 10px;
}

#aboutSection #description #network {
  float: right;
  padding-right: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  background-color: #8ea69b;
  text-align: center;
  font-size: 12px;
  padding-bottom: 5px;
}

@media screen and (min-width: 650px) {
  #buttonNavigation {
    -ms-flex-line-pack: center;
        align-content: center;
    vertical-align: middle;
  }
  button {
    background-color: #8ea69b;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  #about {
    float: right;
    width: 30%;
    height: 100vh;
    display: fixed;
    background-color: #8ea69b;
  }
  #aboutSection {
    margin-top: 0;
  }
  header {
    width: 70%;
    height: 1%;
    display: inline-block;
    background-color: whitesmoke;
    top: 0;
    vertical-align: middle;
    position: fixed;
  }
  #banner {
    margin: 0 auto;
    width: 100%;
    vertical-align: middle;
    text-align: center;
  }
  #mode {
    padding-left: 10px;
    float: left;
  }
  #screenModeImg {
    padding-top: 3px;
    height: 15px;
  }
  #buttonNavigation {
    -ms-flex-line-pack: center;
        align-content: center;
    vertical-align: middle;
  }
  button {
    background-color: whitesmoke;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border: none;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
  }
  button:hover {
    color: #8ea69b;
    -webkit-text-decoration: underline #8ea69b;
            text-decoration: underline #8ea69b;
  }
  .scroller {
    width: 70%;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-color: #8ea69b whitesmoke;
    scrollbar-width: thin;
  }
  #aboutSection {
    text-align: left;
  }
  #aboutSection #description {
    width: 70%;
    margin: auto;
  }
  #aboutSection #description #name {
    font-size: 26px;
    padding-left: 10px;
  }
  #aboutSection #description #function {
    float: right;
    font-size: 18px;
    padding-right: 10px;
  }
  #aboutSection #description #corps {
    padding-left: 10px;
    font-size: 15px;
  }
  #aboutSection #description #network {
    float: right;
    padding-right: 10px;
  }
  section {
    color: black;
    padding: 6% 3% 3% 3%;
  }
  section #Title {
    font-size: 1.2em;
  }
  section #Category {
    text-align: center;
    font-size: 30px;
    -webkit-text-decoration: underline overline #8ea69b;
            text-decoration: underline overline #8ea69b;
    letter-spacing: 7px;
  }
  section #SubCategory {
    text-align: center;
    font-size: 25px;
    -webkit-text-decoration: underline dotted 3px #8ea69b;
            text-decoration: underline dotted 3px #8ea69b;
    font-style: oblique;
  }
  footer {
    width: 70%;
  }
  #educations, #skills #experiences {
    height: 100vh;
  }
  #flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1600px) {
  body {
    font-size: 15px;
  }
  #about {
    width: 25%;
    height: 100vh;
  }
  button {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 20px;
    letter-spacing: 7px;
  }
  .scroller {
    width: 75%;
  }
  #aboutSection #description {
    width: 75%;
  }
  #aboutSection #description #name {
    font-size: 30px;
  }
  #aboutSection #description #function {
    font-size: 20px;
  }
  #aboutSection #description #corps {
    font-size: 15px;
  }
  #aboutSection #description #network {
    font-size: 18px;
  }
  footer {
    width: 75%;
  }
}

@media screen and (min-width: 2200px) {
  body {
    font-size: 15px;
  }
  #about {
    width: 25%;
    height: 100vh;
  }
  button {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 20px;
    letter-spacing: 7px;
  }
  .scroller {
    width: 75%;
  }
  #aboutSection #description {
    width: 75%;
  }
  #aboutSection #description #name {
    font-size: 36px;
  }
  #aboutSection #description #function {
    font-size: 26px;
  }
  #aboutSection #description #corps {
    font-size: 1.25em;
  }
  #aboutSection #description #network {
    font-size: 1.25em;
  }
  footer {
    width: 75%;
  }
}
/*# sourceMappingURL=style_cv.css.map */