body {
    background-color: whitesmoke;
    //overflow: hidden;
    word-wrap: break-word;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    //text-align:justify;
    //font-family: 'Karla', sans-serif;
    font-family: 'Quicksand', sans-serif;
    //font-family: 'Karla', sans-serif;
    //text-align: justify;
}

#contener{
    //background-color: white;
}



header{
    width: 100%;
    display: inline-block;
    top:0;
    padding-bottom: 3%;
    vertical-align: middle;
    position:fixed;
    background-color: rgb(142,166,155);
    //background-image: linear-gradient(90deg, rgba(192,209,201,1) 0%, rgba(124,149,138,1) 50%, rgba(192,209,201,1) 100%);
    background: linear-gradient(360deg, rgba(245,245,245,1) 0%, rgba(168,186,177,1) 50%);
}


.clignote {
    color:black;
    animation: clignote 7.5s linear infinite;
  }
  @keyframes clignote {  
    50% { opacity: 0; }
  }

#banner{
    margin : 0 auto;
    //background-color: blue;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding-top:2%;
    //padding-bottom: 2%;
    
}

#mode{
    //background-color: yellow;
    padding-left: 10px;
    float: left;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#screenModeImg{
    padding-top:3px;
    height: 12px;  
    
}

  
#buttonNavigation{
    border: none;
    background: none;
    outline: none;
    color: black;
    //background-color: yellow;
}


button{
    //background-color: rgb(142,166,155);
     padding-left: 1%;
     padding-right: 1%;
    // border: none;
     font-size: 13px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: black;

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}



button#btnTranslate{
    //background-color: blueviolet;
    float: right;
    padding: 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 2%;
    margin-top:1px;
    border: none;

    #flag{
        width: 20px;
        height: 14px;
        padding:0 0 0 5px;
        margin-top: 2px;
        
        //padding-left: 5%;
    }
}

button#btnTranslate:hover{
    opacity: 0.4;
    //background-color: red;
}

button:hover{
   color:white
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration:underline;
    color: black;
}

hr{
    border:none; 
    border-top:10px dotted rgb(142,166,155);
    width: 30%;
    margin-top: 20%;
    margin-bottom: 20%;
    //background-color: chocolate;
}

.bloc{
    margin-left: 2%;
    margin-right: 2%;
    width: 95%;
    //border: solid;
    padding-left: 1%;
    padding-right: 1%;
    //background-color: yellow;
}

z{
    color: rgb(142,166,155);
}

#hello{
    margin-top: 20%;
    //background-color: chartreuse;
    text-align: center;

    #name{
        font-size: 26px;
        font-family: "Trirong", serif;
    }
}

#profileImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
    height: 315px;
    border-radius: 25%;
    padding-top: 5%;
}

#profileImg:hover{
    content:url("../img/riccarde_smile_tr.png");
}

#Category{
    text-align: center;
    font-size: 30px;
    //background-color: red;
    text-decoration: underline overline rgb(142,166,155);
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
}

#txtAboutMe{
    //text-justify: auto;
    padding-left: 1%;
    padding-right: 1%;
}

#imgAbout{
    display:none
}


#imgDescLeft{
    display:none
}
#imgDescRight{
    display:none
}

 #desc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: space-between;
    margin-top: 8%;
    margin-left: 3%;
    margin-right: 1%;
    width: 95%;

 

    span#left{
        width: 30%;
        //background-color: aqua;
        font-weight: bold;
    
    }
    
    span#middle{
        width: 8%;
        //background-color: red;
        text-align: center;
    }
    
    span#right{
        width: 62%;
        //background-color: rgb(0, 183, 255);
    }
    
    #screenMedia{
        padding-top:3px;
        padding-left: 3px;
        padding-right: 3px;
        height: 25px;      
    }
    
    #screenMedia:hover{
        height: 27px;
        opacity: 0.7;  
        
    }
}



#languages{
    display:table;
    //background-color: cornflowerblue;
    margin:auto;
    

    #langImg{
        margin-top:3%;
        padding-top:3%;
        padding-left:1%;
        padding-right:1%;
        //background-color: brown;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #screenLang{
        //background-color: rgb(222, 135, 208);
        width: 60px;
        height: 75px;
        padding-left: 1%;
        padding-bottom: 5%;
        
        }

        #screenLang:hover{
            //background-color: white;
            opacity: 0.4;
        }
        
    }

#softs{
    display:table;
    //background-color: cornflowerblue;
    margin:auto;
    width: 97%;

    #softsImg{
        margin-top:3%;
        padding-top:3%;
        padding-left:1%;
        padding-right:1%;
        //background-color: brown;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    #screenSofts{
        width: 60px;
        height: 75px;
        padding-left: 1%;
        padding-bottom: 5%;
        //background-color: burlywood;
    }
    #screenSofts:hover{
        //background-color: white;
        opacity: 0.4;
    }
    
}

#db{
    display:table;
    //background-color: cornflowerblue;
    width: 98%;
    //background-color: coral;

    #dbImg{
        margin-top:3%;
        padding-top:3%;
        padding-left:1%;
        padding-right:1%;
        //background-color: brown;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    
    #screenBd{
        width: 60px;
        height: 75px;
        //background-color: burlywood;

    }
    #screenBd:hover{
        //background-color: white;
        opacity: 0.4;
        }
    }
}



#contactMe{
    margin-top: 3%;
    //background-color: yellow;
    margin-bottom: 10%;
    text-align: center;
}

#btnContener{
    //background-color: aqua;
    margin: auto;
    width: 35%;
    margin-top: 0;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    button#contactButton{
        background-color:rgb(142,166,155);
        padding: 20px;
        border-radius: 10px;
    }

    button#contactButton:hover{
        background-color:rgb(121, 167, 145);
    }

}

#imgContact{
    display: none;
}



#alert{
    color:rgb(142,166,155)
}

footer{
    position: fixed;
    bottom:0;
    width:100%;
    padding-top:5px;
    background-color: rgb(142,166,155);
    text-align: center;
    font-size: 12px;
    padding-bottom: 5px;
    float: left;

}




@media screen and (min-width: 500px){

    #Category{
        font-size: 30px;
        letter-spacing: 2px;
    }

    #imgAbout{
        display:none
    }

    #imgDescLeft{
        display:none
    }
    #imgDescRight{
        display:none
    }

    #desc{
        
        //background-color: pink;
        margin:auto;
        width: 70%;
        margin-top:5%;
        margin-left:17%;
    }




    span#left{
        width: 10px;
        //background-color: aqua;
        font-weight: bold;
        text-align: right;

    }

    span#middle{

        //background-color: red;
        text-align: center;
        
    }

    span#right{

        //background-color: red;
        //text-align: center;
    
    }
    #db{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    #imgContact{
        display: none;
    }
}

@media screen and (min-width: 640px){
    body{
        font-size: 17px;
    }

    #mode{
        font-size: 14px;
    }
    
    #screenModeImg{
        padding-top:3px;
        height: 13px;  
    }

    #imgAbout{
        display:none
    }


    button{
        padding-left: 3%;
        padding-right: 3%;
        border: none;
        font-size: 15px;
    }

    button#btnTranslate{
        padding: 0;
        font-size: 16px;
        margin-right: 2%;
        margin-top:0;
    
        #flag{
            width: 25px;
            height: 16px;
            padding:0 0 0 5px;
            margin-top:3px;
            //padding-left: 5%;
        }
    }

       
    #hello{
        margin-top: 15%;

        #name{
            font-size: 36px;
            font-family: "Trirong", serif;
        
        }

        #txtAboutMe{
            padding-right: 2%;
            padding-left: 2%;
            text-align: justify;
        }
    }


    #desc{
        
        //background-color: pink;
        //margin:auto;
        width: 61%;
        margin-top:5%;
        margin-left:22%;
    }

    #imgDescLeft{
        display:none
    }
    #imgDescRight{
        display:none
    }


    #Category{
        font-size: 36px;
        letter-spacing: 5px;
    }

    hr{
        margin-top: 15%;
        margin-bottom: 15%;
    }

    span#left{
        width: 32%;
        //background-color: aqua;
        font-weight: bold;
    
    }
    
    span#middle{
        width: 8%;
        //background-color: red;
        text-align: center;
    }
    
    span#right{
        width: 60%;
        //background-color: yellow;
    }
    
    #screenMedia{
        padding-top:3px;
        padding-left: 3px;
        padding-right: 3px;
        height: 25px;      
    }

    #screenMedia{
        padding-top:3px;
        padding-left: 3px;
        padding-right: 3px;
        height: 25px;  
        
    }

    
    #db{
        width: 50%;
        margin-left: 25%;
        margin-right:25%;
     }

     #imgContact{
        display: none;
    }
    
}

@media screen and (min-width: 790px){

    #Category{
        font-size: 40px;
        letter-spacing: 6px;
    }

    #desc{
        margin-top: 8%;
    }

    #imgDescLeft{
        display:none
    }
    #imgDescRight{
        display:none
    }

    
    #softs{
        width: 70%;
    }

    #imgContact{
        display: none;
    }

    #imgAbout{
        display:none
    }
    
}

    @media screen and (min-width: 1000px){
        body{
            font-size: 16px;
        }

        header{
            padding-bottom: 2%;
 
        }

        #banner{
            padding-top:2%;
            
        }

        #mode{
            //background-color: yellow;
            padding-left: 10px;
            float: left;
            font-size: 15px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        #screenModeImg{
            height: 15px;  
            
        }
    
        button{
            font-size: 16px;
        }

        .bloc{
            margin-left: 7.5%;
            margin-right: 7.5%;
            width: 85%;
        }

        hr{
            margin-top: 15%;
            margin-bottom: 15%;
        }

    
        #hello{
          margin-top: 15%;
            #name{
                font-size: 40px;
                font-family: "Trirong", serif;
            
            }
        }
    
        #txtAboutMe{
            
        }


        #desc{
            width:55%;
            //background-color: blue;
            margin:auto;
            margin-top:5%;
        }


    
        #screenMedia{
            padding-top:3px;
            padding-left: 5px;
            padding-right: 5px;
            height: 27px;  
            
        }

        #languages{
            //background-color: cornflowerblue;
            width: 80%;
            #screenLang{
                padding-bottom: 0;
            }
              
        }
        
        #softs{
            //background-color: yellow;
        
            #screenSofts{
                padding-left:1.5%;
                padding-right:1.5%;
                padding-bottom: 0;

            }
        }
        
        #db{
            //background-color: yellow;
        
            #screenBd{
                
                //background-color: burlywood;
            }
            
        }

        #contactMe{
            margin-top: 3%;
            margin-bottom: 5%;
        }

        #imgContact{
            width: 275px;
            height: 175px;
            display: inline-block;
        }

    }

    @media screen and (min-width: 1260px){

        body{
            font-size: 15px;
            //background-color: red;
            
        }
        
        header{
            padding:0;
            margin-bottom: 0;
            //margin-bottom: 100px;
            //display: inline-block;
            //background-color: yellowgreen;
            background-image: 0;
            
            
        }

        #banner{
            //padding-top:1.25%;
            //background-color: blue;
            margin:0;
            font-size: 10px;

            padding-top: 1.5%;
            padding-bottom: 1%;
                //padding: 0;
                //background-color: yellowgreen;
            
        
            background-color: whitesmoke;
            //background-image: 0;
            box-shadow: 1px 5px 20px rgb(121, 167, 145);
            
            
        }

        #mode{
            padding-top: 0px;
            //background-color: yellow;
            font-size: 15px;
            margin:0;
            letter-spacing: 3px;
        }
        
        #screenModeImg{
            height: 14px;  
            
        }
    
        button{
            font-size: 15px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            letter-spacing: 4px;
        }

        #buttonNavigation{
            //background-color: red;
            margin:0;
            padding: 0;

        }

        .btn{
            opacity: 0.8;
            transition: 0.3s;
            padding-left: 1%;
            padding-right: 1%;
            margin-left: 2%;
            margin-right: 2%;
            opacity: 0.7;
            transition: 1s;
            border-radius: 30px;
        }

        .btn:hover{
            opacity: 1;
            //color:rgb(107, 146, 127);
            color: whitesmoke;
            background-color:rgb(121, 167, 145);
            
            
         }

        button#btnTranslate{
            padding: 0;
            font-size: 22px;
            margin-top:0;
        
            #flag{
                width: 30px;
                height: 18px;
                margin:0;
                padding:0;

            }
        }

        hr{
            margin-top: 12%;
            margin-bottom: 12%;
        }

        #Category{
            font-size: 42px;
            letter-spacing: 6px;
        }

    
        #hello{
            margin-top: 12.5%;
            #name{
                font-size: 50px;
                font-family: "Trirong", serif;
            
            }
        }
    
        #txtAboutMe{
            
        }

        #imgAbout{
            display:none
        }
    
        #desc{
            width:58%;
            //background-color: blue;
            margin:auto;
            margin-top: 6%;
            
        }
    
        #imgDescLeft{
            display:block;
            float: left;
            height: 325px;
            width: 200px;
            padding-top: 10px;
            margin-left: 2%;
        }

        #imgDescRight{
            display:block;
            float: right;
            height: 325px;
            width: 200px;
            padding-top: 10px;
            margin-right: 2%;
        }

        #languages{
            //background-color: cornflowerblue;
        
            #screenLang{
                //background-color: rgb(222, 135, 208);
                // width: 9%;
                // padding-bottom: 0;
                // padding-left: 1%;
            }
              
        }
        
        #softs{
            //background-color: yellow;
        
            #screenSofts{
                width: 9%;
                padding-left: 1%;
                padding-bottom: 0;
                //background-color: burlywood;

        }
        
        #db{
            //background-color: yellow;
        
            #screenBd{
                width: 9%;
                padding-left: 1%;
                //background-color: burlywood;
            }
            
        }

        #imgContact{
            width: 275px;
            height: 175px;
        }

        button#contactButton:hover{
            color:whitesmoke;
        }
        

    }

    @media screen and (min-width: 1350px){
    
        body{
            font-size: 15px;
        }
        
        #mode{
            //padding-top: 3px;
            //background-color: yellow;
            font-size: 17px;
            margin:0;
            letter-spacing: 4px;
        }
        
        #screenModeImg{
            //padding-top:3px;
            height: 15px;  
            
        }
    
        button{
            font-size:17px;
            letter-spacing: 5px;
            //background-color: yellowgreen;
        }

        #buttonNavigation{
            //background-color: red;
        }

        button#btnTranslate{
            padding: 0;
            font-size: 24px;
            margin-top:0;
        
            #flag{
                width: 32px;
                height: 20px;
            }
        }


        hr{
            margin-top: 12%;
            margin-bottom: 12%;
        }

        .bloc{
            margin-left: 15%;
            margin-right: 15%;
            width: 70%;
        }

    
        #hello{
            margin-top: 12%;
    
        }


    
        #txtAboutMe{
            
        }
    
        #desc{
            width:50%;
            //background-color: blue;
            margin:auto;
            margin-left: 23%;
            margin-top:4%
        }

        #imgDescLeft{
        
            padding-top: 10px;
            margin-left: 0%;
        }

        #imgDescRight{
            padding-top: 10px;
            margin-right: 0%;
        }
    

        #languages{
            //background-color: cornflowerblue;
        
            #screenLang{
                //background-color: rgb(222, 135, 208);
                padding-left: 1%;
            }
              
        }
        
        #softs{
            //background-color: yellow;
        
            #screenSofts{
                width: 8%;
                padding-left: 1%;
    
                //background-color: burlywood;
            }
        }
        
        #db{
            //background-color: yellow;
        
            #screenBd{
                width: 9%;
                padding-left: 1%;
                //background-color: burlywood;
            }
            
        }
    }
    #contactMe{
        margin-top: 2%;
        margin-bottom: 5%;
    }
}


@media screen and (min-width: 1590px){
    body{
        font-size: 15px;
    }

    #banner{
        padding-top: 1.5%;
        padding-bottom: 1%;
        //padding: 0;
        //background-color: yellowgreen;
    }


    #mode{
        padding-top: 0;
        //background-color: yellow;
        font-size: 18px;
        margin:0;
        letter-spacing: 4px;
    }
    
    #screenModeImg{
        padding-top:0px;
        height: 17px;  
        
    }

    button{
        border: none;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 5px;
    }

    button#btnTranslate{
        padding: 0;
        font-size: 24px;
        margin-top:0;
    
        #flag{
            width: 32px;
            height: 22px;
        }
    }


    hr{
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .bloc{
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }

    #txtAboutMe{
        //background-color: royalblue;
        padding-bottom:5%;
    }

    #imgAbout{
        float:right;
        display: block;
    }


    #hello{
        margin-top: 10%;

    }

    #imgAbout{
        display:block;
        padding-bottom: 1%;
        //background-color: burlywood;
    }

    #desc{
        width:48%;
        //background-color: blue;
        //margin:auto;
        //margin-top: 4%;
        margin-top:4%;
        margin-left:26%;
    }

    #imgDescLeft{
       
        height: 325px;
        width: 200px;
        padding-top: 10px;
        margin-left: 4%;
        //background-color: brown;
    }

    #imgDescRight{
        height: 325px;
        width: 200px;
        padding-top: 10px;
        margin-right: 4%;
        //background-color: brown;
    }


    #languages{
        //background-color: cornflowerblue;
    
        #screenLang{
            //background-color: rgb(222, 135, 208);
            // width: 7%;
            // padding-left: 2%;
            width: 78px;
            height: 100px;
        }
          
    }
    
    #softs{
        //background-color: yellow;
    
        #screenSofts{
            width: 78px;
            height: 100px;
            padding-right: 1%;
            padding-left: 1%;

            //background-color: burlywood;
        }
    }
    
    #db{
        //background-color: yellow;
        width: 20%;
        margin: auto;
    
        #screenBd{
            width: 78px;
            height: 120px;

            //background-color: burlywood;
        }
        
    }

    button#contactButton{
        background-color:rgb(142,166,155);
        padding: 10px;
        border-radius: 10px;
    }

    #contactMe{
        margin-top: 0;
    }

    #imgContact{
        width: 350px;
        height: 222px;
    }
}

@media screen and (min-width: 1950px){

    body{
        font-size: 16px;
    }

    header{
        //padding-bottom: 1%;
        padding: 0;
        //background-color: yellowgreen;

    }

    button{
        font-size: 17px;
        letter-spacing: 4px;
    }

v

    .bloc{
        margin-left: 17.5%;
        margin-right: 17.5%;
        width: 65%;
    }

    hr{
        margin-top: 6%;
        margin-bottom: 6%;
    }


    #hello{
        margin-top: 8%;

    }

    #txtAboutMe{
        //text-align: justify;
        padding-bottom:5%;
    }

    #desc{
        width:50%;
        //background-color: blue;
        margin:auto;
        margin-top: 4%;
        
    }

    #imgDescLeft{
        height: 350px;
        width: 200px;
        margin-left: 8%;
    }

    #imgDescRight{
        height: 350px;
        width: 200px;
        margin-right: 8%;
    }


    #languages{
        //background-color: cornflowerblue;
    
        #screenLang{
            //background-color: rgb(222, 135, 208);
            // width: 6%;
             padding-left: 1%;
             padding-right:1%;
        }
          
    }
    
    #softs{
        //background-color: yellow;
    
        #screenSofts{
            padding-left: 2%;
            padding-right:2%;
        }
    }
    
    #db{
        //background-color: yellow;
    
        #screenBd{

        }
        
    }

    #contactMe{
        margin-bottom: 4%;
    }

    button#contactButton{
        background-color:rgb(142,166,155);
        //padding: 5px;
        border-radius: 10px;
        //background-color: brown;
    }



}

@media screen and (min-width: 2500px){
    body{
        font-size: 16px;
    }

    header{
        //padding-bottom: 0.5%;
        //background-color: yellow;

    }

    #banner{
        //padding-top:0.5%;
        //background-color: yellow;
        
        
    }

    #buttonNavigation{
        //background-color: red;
    }

    .bloc{
        margin-left: 16.5%;
        margin-right: 17.5%;
        width: 65%;
        margin-top:0;
    }

    hr{
        margin-top: 4%;
        margin-bottom: 4%;
    }


    #hello{
        margin-top: 8%;

    }

    #txtAboutMe{
        //text-align: justify;
        margin-bottom: 3%;
    }

    #desc{
        width:35%;
        //background-color: blue;
        //margin:auto;
        margin-top:3%;
        margin-left: 32%;
    }

    #imgDescLeft{
        height: 350px;
        width: 200px;
        margin-left: 15%;
    }

    #imgDescRight{
        height: 350px;
        width: 200px;
        //margin-right: 1%;
        margin-right: 15%;
    }


    #languages{
        //background-color: cornflowerblue;
        width: 65%;
          
    }
    

    #contactMe{
        margin-bottom: 3%;
    }

    #imgContact{
        width: 400px;
        height: 250px;
    }
}
