:root {
    --main-color: rgb(142,166,155);
    --bg-color: whitesmoke;
}

body {
    word-wrap: break-word;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 38px;
    margin: 0;
    padding: 0;
}

#Container{
    word-wrap: break-word;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: 'Quicksand', sans-serif;
}

#buttonNavigation{
    font-family: "Sofia", sans-serif;
}

li{
    list-style: none;
}
li::before{
    content: "•";
    padding-right: 10px;
    color: var(--main-color);
    font-size:20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration:underline;
    color: black;
}


// REGION Section
section{
    color : black;
    //background-color: yellow;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left:2%;
    padding-right:2%;
    opacity: 1;
    transition-duration: 0.5s;
    
    #Title{
        font-size: 1.3em;
        //background-color: red;
    }

    #Category{
        text-align: center;
        font-size: 30px;
        //background-color: red;
        text-decoration: underline overline var(--main-color);
        letter-spacing: 5px;
        font-family: "Sofia", sans-serif;
        cursor: default;
        text-shadow: 3px 3px 3px #ababab;
    }

    .GreenBar{
        color: var(--main-color);
    }
    
    #SubCategory{
        text-align: center;
        font-size: 25px;
        //background-color: red;
        text-decoration: underline dotted 3px var(--main-color);
        font-style: oblique;
    }
}
// END REGION Section

// REGION about
#aboutSection{
    text-align: left;
    padding-top: 5%;

    .link{
        cursor: pointer;
    }

    #profileImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 275px;
        height: 315px;
        border-radius: 25%;
        padding-top: 2%;
        transition-duration: 2s;

    }
    #description{
        //background-color: blueviolet;
        width: 75%;
        margin:auto;

        #name{
            font-size: 28px;
            padding-left:10px;
            //background-color: brown;
        }

        #function{
            font-size: 20px;
            padding-right:10px;
            text-align: right;
        }

        #corps{
            padding-left:10px;
            //background-color: red;
            #flag{
                width: 20px;
                height: 10px;
            }
        }

        #network{
            padding-right:10px;
            text-align: right;
        }
    }
}
// END REGION About


@media screen and (min-width: 576px){    
    section{
        color : black;
        //background-color: yellow;
        padding-top: 1%;
        padding-bottom: 5%;
        padding-left:2%;
        padding-right: 2%;
        opacity: 1;
        transition-duration: 0.5s;
    }

    #buttonNavigation{
        button{
            font-size: 20px;
        }
        button:hover{
            background-color: var(--main-color);
        }
    }
}


@media screen and (min-width: 768px) {

    #personalInfo{
        width: 80%;
        //background-color: blue;
        margin: auto;
    }

    span#name, span#corps{
        margin-left:10%;
        //background-color: slateblue;
    }

    span#function, span#network{
        margin-right:10%;
    }

    #mode{
        font-size: 15px;
    }
}

@media screen and (min-width: 992px) {

    #aboutSection{
        text-align: left;
        padding-top: 10%;
    }

    span#name, span#corps{
        margin-left:20%;
    }

    span#function, span#network{
        margin-right:20%;
    }

    #buttonNavigation{
        button{
            font-size: 24px;
        }
    }
}

@media screen and (min-width: 1200px) {

    body{
        font-size: 12px;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    // REGION About
    #personalInfo{
        width: 100%;
        //background-color: orange;
    }
    
    #about{
        float:right;
        width: 30%;
        height: 100vh;
        display: fixed;
        background: #f5f5f5;
        background: linear-gradient(90deg, var(--bg-color) 0%, var(--main-color) 70%);
        margin-top: 1.5%;
    }
     
    #aboutSection{
        margin-top : 10%;
        //background-color: yellow;
    }
    
    #screenModeImg{
        padding-top:3px;
        height: 15px;  
    }

    #buttonNavigation{
        button{
            font-size: 14px;
        }
        button:hover{
            background-color: var(--bg-color);
            color: var(--main-color); 
        }
    }

    #aboutSection{
        text-align: left;
        
        #profileImg{
            width: 175px;
            height: 200px;
            border-radius: 10%;
            padding-top: 2%;
            transition-duration: 2s;
            //background-color: pink;
        }
    
        #description{
            //background-color: blueviolet;
            width: 85%;
            margin:auto;
    
            #name{
                margin-left:0;
                font-size: 26px;
                padding-left:10px;
            }
            #function{
                font-size: 18px;
                padding-right:10px;
                margin-right:0;
            }
            #corps{
                margin-left:0;
                padding-left:10px;
                font-size: 14px;
                //background-color: red;
            }
            #network{
                padding-right:10px;
                margin-right:0;
            }
        }
    }
    // END REGION About

    // REGION SCROLLER
    .scroller {
        width: 70%;
        height: 100vh;
        overflow-y: scroll;
        //scrollbar-color: rgb(142,166,155) whitesmoke;
        scrollbar-color: var(--main-color) var(--bg-color);
        scrollbar-width: thin;
    }
    
    section{
        color : black;
        //background-color: yellow;
        padding : 6% 3% 3% 3%;

        #Title{
            font-size: 1.2em;
            //background-color: red;
        }
        
        #Category{
            text-align: center;
            font-size: 30px;
            //background-color: red;
            text-decoration: underline overline var(--main-color);
            letter-spacing: 7px;
            padding: 0;
            margin-top: 0;
        }
            
        #SubCategory{
            text-align: left;
            font-size: 25px;
            //background-color: red;
            text-decoration: underline dotted 3px var(--main-color);
            font-style: oblique;
        }
    }
    
    #educations, #skills, #experiences {
        padding-top: 4%;
        //background-color: aqua;
        height: 100%;
    }
    
     #flex{
        //background-color: brown;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    // END REGION Scroller

}

@media screen and (min-width: 1580px){

    body{
        font-size: 15px;
        //overflow: hidden;
    }
    
    span#mode{
        font-size: 18px;
    }

    // REGION About
    #about{
        width: 25%;
        height: 100vh;
    }

    #buttonNavigation{
        button{
            font-size: 16.5px;
        }
    }
        
    #aboutSection{
    
         #profileImg{
              
                width: 275px;
                height: 300px;
                border-radius: 10%;
                padding-top: 2%;
                transition-duration: 2s;
                //background-color: pink;
            }
        
            #description{
                width: 75%;
    
                #name{
                    font-size: 30px;
                }
                #function{
                    font-size: 20px;
                }
                #corps{
                    font-size: 16px;
                    //background-color: red;
                }
                #network{
                    font-size: 18px;
                    //background-color: aqua;
                }
            }
        }

        // END REGION About

        #educations, #skills, #experiences {
            padding-top: 2%;
        }

        .scroller {
            width: 75%;
       }
       
    }

@media screen and (min-width: 1890px){
    #buttonNavigation{
        button{
            font-size: 20px;
        }
    }

    #educations, #skills, #experiences {
        padding-top: 1%;
    }

    #aboutSection{

        margin-top: 7%;
    }
}

@media screen and (min-width: 2200px){

    body{
        font-size: 15px;
    }
        
    #about{
        width: 25%;
        height: 100vh;
    }

    // REGION About
    #aboutSection{
        margin-top: 2.5%;
        #buttonNavigation{
            //background-color: red;
            
            button{
                font-size: 22px;
            }
        }
        
        #description{
            width: 75%;
    
            #name{
                font-size: 36px;
            }

            #function{
                font-size: 26px;
            }
                
            #corps{
                font-size: 1.25em;
                //background-color: red;
            }

            #network{
                font-size: 1.25em;
            }   
        }
    }
    // END REGION About

    #educations, #skills, #experiences {
        padding-top: 0;
    }
}
    
